﻿@inject SignalHub.Shared.Loaders.SourceLoader SourceLoader

@using SignalHub.Components.Extensions

@if (Visual != null)
{
    var visualClass = string.IsNullOrWhiteSpace(Visual.Appearance?.ClassName) ? "visual" : Visual.Appearance.ClassName;
    var containerClass = $"{visualClass}-container";

    <div class="card @containerClass" style="height:calc(100% - 25px);">
        <div class="card-header">
            @if (IsEditable)
            {
                <h6><a href="/source/drilldown/@Source.Id/@Visual.Id">@Visual.Title</a></h6>
            }
            else
            {
                <h6>@Visual.Title</h6>
            }
        </div>
        <div class="card-body" style="height: calc(100% - 50px)!important;">
            @Visual.RenderFragment(Loader, referenceCaptureCallback: AddComponentIfNeeded)
        </div>
        @if (IsEditable)
        {
            //var canSyncVisual = !IsVisualInSync(visual);

            <div class="card-footer">
                <div class="small">
                    <a href="/source/drilldown/@Source.Id/@Visual.Id">Drilldown</a>
                    @*@if (canSyncVisual)
                        {
                            <button @onclick="async => SyncVisual(visual)" class="btn btn-link">Sync</button>
                        }*@
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter] public SignalHub.Shared.Models.Visual Visual { get; set; }
    [Parameter] public SignalHub.Shared.Models.Source Source { get; set; }
    [Parameter] public IDictionary<string, IList<Visuals.Base.Component>> ComponentRefs { get; set; }
    [Parameter] public bool IsEditable { get; set; } = true;

    private Shared.Loaders.Abstractions.Loader Loader { get; set; }

    protected override void OnInitialized()
    {
        if (Loader == null && Source != null)
            Loader = SourceLoader.CreateFrom(Source);
    }

    protected void AddComponentIfNeeded(object component)
    {
        var visual = component as Visuals.Base.Component;
        if (ComponentRefs != null && visual != null)
        {
            var visualId = visual.Visual.Id;

            IList<Visuals.Base.Component> visuals = null;
            if (ComponentRefs.ContainsKey(visualId))
                visuals = ComponentRefs[visualId];
            else
            {
                visuals = new List<Visuals.Base.Component>();
                ComponentRefs.Add(visualId, visuals);
            }
            visuals.Add(visual);

        }
    }
}
