﻿@inherits Base.Metric


@if (Visual.Config.MeasureFields.Any())
{
    var titleStyle = GetTitleStyle();
    var metricStyle = GetMetricStyle();
    var subTitleStyle = GetSubTitleStyle();
    var orientation = Settings == null ? SignalHub.Shared.Models.MetricAppearance.OrientationDefinition.Vertical : Settings.Orientation;
    var orientationClass = orientation.ToString().ToLowerInvariant();

    <div class="metric-spacer"></div>
    <div class="metric-container @Visual.Appearance?.ClassName">
        <div class="metric-info @orientationClass">
            @if (orientation == Shared.Models.MetricAppearance.OrientationDefinition.Vertical)
            {
                @if (Settings != null)
                {
                    <div class="title text-center" style="@titleStyle">@Settings.Title</div>
                }

                <div class="metric text-center" style="@metricStyle">@MetricFormatted</div>

                @if (Settings != null)
                {
                    <div class="subtitle text-center" style="@subTitleStyle">@Settings.Subtitle</div>
                }
            }
            else
            {
                <div class="text-center">
                    @if (Settings != null)
                    {
                        <span class="title text-center" style="@titleStyle">@Settings.Title</span>
                    }

                    <span class="metric text-center" style="@metricStyle">@MetricFormatted</span>

                    @if (Settings != null)
                    {
                        <span class="subtitle text-center" style="@subTitleStyle">@Settings.Subtitle</span>
                    }
                </div>
            }
        </div>
    </div>
}

@code
{
}
