@page "/"
@namespace KundkartanTestApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

@inject Microsoft.Extensions.Options.IOptions<Kundkartan.Shared.Settings.Application> ApplicationSettings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kundkartan Bostad</title>
    <base href="~/" />

    <link href="//fonts.googleapis.com/css?family=Lora:400i|Roboto:400,700&display=swap" rel="stylesheet">
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://unpkg.com/@@ag-grid-community/all-modules/dist/styles/ag-theme-material.css">
    <link rel="stylesheet" href="https://unpkg.com/@@ag-grid-community/all-modules/dist/styles/ag-theme-alpine-dark.css">
    <link rel="stylesheet" href="https://unpkg.com/@@ag-grid-community/all-modules/dist/styles/ag-theme-alpine.css">
    <link rel="stylesheet" href="https://unpkg.com/@@ag-grid-community/all-modules/dist/styles/ag-theme-balham-dark.css">
    <link rel="stylesheet" href="https://unpkg.com/@@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gridstack@0.6.4/dist/gridstack.css">

    <link href="@(ApplicationSettings.Value.SignalHubUri)/css/site.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/ServiceWorkerRegister.js"></script>
    <link href="/manifest.json" rel="manifest"/>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="//code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Mapbox resources-->
    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    <!-- Leaflet resources -->
    <script src="//unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <!-- amChart resources -->
    <script src="//www.amcharts.com/lib/4/core.js"></script>
    <script src="//www.amcharts.com/lib/4/charts.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/dataviz.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/material.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/kelly.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/frozen.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/moonrisekingdom.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/spiritedaway.js"></script>
    <script src="//www.amcharts.com/lib/4/lang/nb_NO.js"></script>

    <!-- GridStack resources -->
    <script src="//cdn.jsdelivr.net/npm/gridstack@0.6.4/dist/gridstack.all.js"></script>

    <!-- agGrid -->
    <script src="https://unpkg.com/@@ag-grid-community/all-modules/dist/ag-grid-community.min.js"></script>

    <!-- canvas Resources-->
    <script src="~/js/html2canvas.js"></script>
    <!-- SignalHub resources -->
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/Core/ItemsManager.js"></script>
    <script src="~/js/LeafletMap.js"></script>
    @*<script src="@(ApplicationSettings.Value.SignalHubUri)js/ViewEngines/LeafletEngine.js"></script>*@
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/ViewEngines/Amcharts.js"></script>
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/ViewEngines/AmchartsColumnchart.js"></script>
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/ViewEngines/AmchartsBarchart.js"></script>
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/ViewEngines/AmchartsTimechart.js"></script>
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/ViewEngines/AmchartsPiechart.js"></script>
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/ViewEngines/AmchartsEngine.js"></script>
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/ViewEngines/agGridEngine.js"></script>
    <script src="@(ApplicationSettings.Value.SignalHubUri)js/Core/Components.js"></script>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/layerhide.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
</body>
</html>
