﻿@page "/DashboardVisualReference"

@inject SignalHub.Shared.Services.DashboardService DashboardService

@using SignalHub.Shared.Extensions
@using SignalHub.Components.Dashboards
@using System.Timers 

<h3>DashboardVisualReference</h3>

@if (DashboardConfig.HasValue())
{
    <input type="range" value="50" min="30" max="100" @onchange="PercentChanged" />

    <Dashboard DashboardItem="DashboardConfig" @ref="Dashboard" IsEditable="false"></Dashboard>
}

@code
{
    protected SignalHub.Shared.Models.Dashboard DashboardConfig { get; set; }
    //[Parameter] public SignalHub.Shared.Models.Dashboard DashboardConfig { get; set; }
    protected SignalHub.Components.Dashboards.Dashboard Dashboard { get; set; } = new SignalHub.Components.Dashboards.Dashboard();
    private int counter;
    Timer timer1 = new Timer(1000);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        /*commented as it leads to infinite loop*/
        //SetPercent(1);
        //StateHasChanged();
    }
    protected override Task OnInitializedAsync()
    {
        //SetPercent(1);
        //StateHasChanged();
        InitializeTimer();
        return Load();
    }

    protected async Task Load()
    {
        DashboardConfig = await DashboardService.Get("1810cec3-de3c-48a0-863a-b2d89d0f7688");

    }

    protected async Task SetPercent(int percent)
    {
        var visualComponent = Dashboard.GetVisualReferenceById("cf7c2b2a-e438-4a9b-8ce4-767f47bb25c3").FirstOrDefault();
        if (visualComponent.HasValue())
        {
            var table = visualComponent as SignalHub.Components.Visuals.Base.Table;
            var rnd = new Random();
            await table.SetSelectedRows(Enumerable.Range(0, 3).Select(i => rnd.Next(10)));
            timer1.Stop();
        }
    }

    protected async Task PercentChanged(ChangeEventArgs args)
    {
        if (int.TryParse(args.Value.ToString(), out var number))
        {
            await SetPercent(number);
        }
    }

    

    private void InitializeTimer()
    {
        // Run this procedure in an appropriate event.  
        counter = 0;
        timer1.Elapsed += OnTimerEvent;
        timer1.Enabled = true;
    }

    private void OnTimerEvent(object sender, System.EventArgs e)
    {
        counter++;
        SetPercent(1);

    }
}
